* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 50px;
    text-align: center;
}

#home {
    background: url('background-image.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
}

#home .btn {
    background-color: #ff4747;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
}

#videos .video-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video iframe {
    margin-bottom: 10px;
}

#contact-form input, #contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button[type="submit"] {
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
